server {
    listen 80;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    ssl_certificate /etc/nginx/ssl/selfsigned.crt;
    ssl_certificate_key /etc/nginx/ssl/selfsigned.key;
    
    root /home/aviv/classwork/nginxpractice;
    index index.html;
    
    location / {
        try_files $uri $uri/ =404;
    }
    
    location /secure {
        satisfy any;
        allow 192.168.1.0/24;
        allow 127.0.0.1;
        deny all;
        auth_basic "Restricted Content";
        auth_basic_user_file /home/aviv/classwork/nginxpractice/.htpasswd;
        try_files $uri $uri/ =404;
    }
    
    location /admin {
        auth_basic "Admin Area";
        auth_basic_user_file /home/aviv/classwork/nginxpractice/.htpasswd-admin;
        try_files $uri $uri/ =404;
    }
    
    location /user {
        auth_basic "User Area";
        auth_basic_user_file /home/aviv/classwork/nginxpractice/.htpasswd-user;
        try_files $uri $uri/ =404;
    }
    
    location /pam {
        auth_pam "PAM Auth";
        auth_pam_service_name "common-auth";
        try_files $uri $uri/ =404;
    }
}